.form {
  color: #444;
  position: relative;
  margin-bottom: -1rem;
  margin-left: -2rem;
  margin-right: -2rem;
}
.formInner {
  padding: 0 2rem 2rem;
}
.InlineFields {
  display: flex;
  align-items: flex-start;
}
.FormRow {
  display: flex;
  justify-content: space-around;
  margin: 0 -2rem;
}
.FormColumn {
  width: 45%;
}
.InputField {
  margin-bottom: 0.5rem;
}
.input {
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid #ccc;
  display: block;
  width: 100%;
}
.input:focus {
  outline: none;
  border-color: #5f90ff;
}
.inputLabel {
  font-size: 1.2rem;
  font-weight: 400;
  color: #595959;
}
.FormButton {
  display: block;
  background-color: #5f90ff;
  color: #fff;
  border-radius: 0;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border: 1px solid #5f90ff;
  text-transform: uppercase;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  padding: 1.1rem 5.4rem 0.9rem;
  width: 100%;
}
.FormButton:hover {
  opacity: 0.8;
}
.FormButton:focus {
  background-color: transparent;
  color: #5f90ff;
  outline: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ccc;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #ccc;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #ccc;
}
:-moz-placeholder { /* Firefox 18- */
  color: #ccc;
}

@media (max-width: 767px) {
  .FormColumn {
    width: 100%;
  }
  .FormRow {
    display: block;
    margin: 0;
  }
  .FormButton {
    border-radius: 0;
  }
}
