.Menu {
  height: 6rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1);
  background-color: #426086;
  z-index: 200;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;
  width: 115rem;
  margin: 0 auto;
  height: 100%;
}
.home img {
  width: 1.8rem;
}
.items {
  display: flex;
  justify-content: flex-end;
}
.items a {
  font-size: 1.6rem;
  color: #fff;
  margin-left: 6rem;
  border-bottom: 1px solid transparent;
}
.items a:hover, .items a:focus {
  outline: none;
  text-decoration: none;
  border-bottom: 1px solid #fff;
  cursor: pointer;
}
.mobile {
  display: none;
}


/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 0;
  display: none;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:focus {
    outline: none;}
  .hamburger:hover {
    opacity: 0.7; }
  .hamburger.is_active:hover {
    opacity: 0.7; }
  .hamburger.is_active .hamburger_inner,
  .hamburger.is_active .hamburger_inner::before,
  .hamburger.is_active .hamburger_inner::after {
    background-color: #fff; }

.hamburger_box {
  width: 30px;
  height: 18px;
  display: inline-block;
  position: relative; }

.hamburger_inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
  .hamburger_inner, .hamburger_inner::before, .hamburger_inner::after {
    width: 30px;
    height: 3px;
    background-color: #fff;
    border-radius: 3px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger_inner::before, .hamburger_inner::after {
    content: "";
    display: block; }
  .hamburger_inner::before {
    top: -8px; }
  .hamburger_inner::after {
    bottom: -8px; }

  /*
   * Squeeze
   */
.hamburger__squeeze .hamburger_inner {
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger__squeeze .hamburger_inner::before {
    transition: top 0.075s 0.12s ease, opacity 0.075s ease; }
  .hamburger__squeeze .hamburger_inner::after {
    transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger__squeeze.is_active .hamburger_inner {
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger__squeeze.is_active .hamburger_inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.075s ease, opacity 0.075s 0.12s ease; }
  .hamburger__squeeze.is_active .hamburger_inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }


@media (max-width: 767px) {
  .container {
    width: 100%;
  }
  .home img {
    width: 2.2rem;
  }
  .items a {
    display: block;
    margin: 0;
    border-bottom: 1px solid #999;
    padding: 2rem 0;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  .hamburger {
    display: inline-block;
  }
  .items.mobile {
    background-color: #426086;
    position: fixed;
    top: 6rem;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 0 3rem 2rem;
  }
}
