.checkbox {
  padding-top: 2rem;
}
.checkbox input[type="checkbox"] {
    opacity: 0;
    position: absolute;
}

.checkbox label {
    position: relative;
    display: inline-block;
    font-weight: 300;
    
    /*16px width of fake checkbox + 6px distance between fake checkbox and text*/
    padding-left: 2.2rem;
}

.checkbox label::before,
.checkbox label::after {
    position: absolute;
    content: "";
    
    /*Needed for the line-height to take effect*/
    display: inline-block;
}

/*Outer box of the fake checkbox*/
.checkbox label::before{
    height: 1.6rem;
    width: 1.6rem;
    
    border: 1px solid;
    border-radius: .3rem;
    left: 0px;
    
    /*(24px line-height - 16px height of fake checkbox) / 2 - 1px for the border
     *to vertically center it.
     */
    top: 0.2rem;
}

/*Checkmark of the fake checkbox*/
.checkbox label::after {
    height: .5rem;
    width: .9rem;
    border-left: 1px solid;
    border-bottom: 1px solid;
    
    transform: rotate(-45deg);
    
    left: .4rem;
    top: .6rem;
}

/*Hide the checkmark by default*/
.checkbox input[type="checkbox"] + label::after {
    content: none;
}

/*Unhide on the checked state*/
.checkbox input[type="checkbox"]:checked + label::after {
    content: "";
}

/*Adding focus styles on the outer-box of the fake checkbox*/
.checkbox input[type="checkbox"]:focus + label::before {
    border-color: #5f90ff;
}
